*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    background: #d1ebec;
    place-items: center;
}

.container {
    height: 62.5vmin;
    width: 100vmin;
    position: relative;
    overflow: hidden;
    border: 5px solid #bfc0c1;
    box-shadow: -3px 5px 15px #000;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#my-img {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-appearance: none;
    width: calc(100% - 20px);
    height: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: white;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
